.App {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  gap: 0.5rem;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.inputField {
  margin: 20px 0 20px;
  width: 250px;
  height: 25px;
  box-sizing: border-box;
}

.inputField:checked + span {
  text-decoration: line-through;
}

.check {
  width: 20px;
}

button {
  height: 25px;
  margin-left: 5px;
  cursor: pointer;
}

span:last-child {
  color: red;
  cursor: pointer;
}
